* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
    position: relative;
}

.score {
  position: absolute;
  top: 20px;
  left: 70px;
  padding : 12px;
  color: white;
}

#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 60px;
  right: 40px;
  width: 376px;
  height: 245px;
  background: black;
  color: white;
  text-align: center;
}

#game-over h2 {
  color: #ab020b;
  font-size: 2em;
}

#game-over #final-score {
  font-size: 2em;
}